* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: blue;
}

.borde {
    display: flex;
    border: 10px;
    border-color: black;
}

aside {
    background-color: red;
    width: 50%;
    height: 500px;

    text-align: center;
    padding: 20px;
}

aside h2 {
    color: white;
    margin-bottom: 20px;
}

aside img {
    width: 80%;
    height: 350px;
    object-fit: cover;
}

footer {
    background-color: orange;
    text-align: center;
    padding: 20px;
}

footer p {
    color: white;
    font-size: 18px;
}